h2 {
  font-style: italic;
}

.notification {
  margin: 8px 0px;
  padding: 7px;
  border-radius: 5px;
  background: lightgrey;
}

.success {
  color: green;
  border: 2px solid green;
}

.error {
  color: red;
  border: 2px solid red;
}
